<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Dernières actualités</h2>
    <div class="row g-4 py-5 d-flex justify-content-between">
        {% for blogpost in blogposts %}
            <div class="card col-12 col-md-6 col-xl-4">
                <div class="card-body">
                    <h5 class="card-title">{{ blogpost.titre }}</h5>
                    <p class="card-text">
                        {{ blogpost.contenu |u.truncate(200, '...', false) }}
                    </p>
                    <a href="#" class="btn btn-primary">En savoir plus <i class="fa-solid fa-circle-chevron-right"></i></a>
                </div>
                <p class="card-footer d-flex justify-content-end align-items-end">
                    <small class="text-muted">Publiée le {{ blogpost.createdAt | date('d/m/Y') }} </small>
                </p>
            </div>
        {% endfor %}
    </div>
</div>